/* src/ui-rewrite/NotesList.css */

.notes-list ul {
  list-style-type: none;
  padding: 0;
}

.notes-list li {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}

.notes-list li:hover {
  background-color: var(--secondary-color);
}

.notes-list h3 {
  margin-top: 0;
}
