/* src/ui-rewrite/NotificationBar.css */
.notification-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.notification {
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.notification-message {
  flex-grow: 1;
}

.notification-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.notification-info {
  background-color: #2196F3;
}

.notification-success {
  background-color: #4CAF50;
}

.notification-warning {
  background-color: #ff9800;
}

.notification-error {
  background-color: #f44336;
}
